@import url('https://fonts.googleapis.com/css?family=Nunito');
body{
    color: white ;
    background: linear-gradient(to right, rgba(140,220,146,1) 0%, rgba(117,211,154,1) 36%, rgba(78,199,169,1) 71%, rgba(78,199,169,1) 100%);
    font-family: 'Nunito', sans-serif;
} 
main{
    color: black;
    text-align: center;
    background: white ;
    border-radius: 20px;
}
button
{
    background: linear-gradient(to right, rgba(140,220,146,1) 0%, rgba(117,211,154,1) 36%, rgba(78,199,169,1) 71%, rgba(78,199,169,1) 100%);
    border-radius: 50px;
    border-color: #4EC7A9;
    color: white; 

}
div{
    display: inline-block;
}
h4.indonesia{
    color: gray;
}
img{
    border-radius: 70px;
}
li#uno{
    list-style: none;
    display: inline-block;
}
li#dos{
    list-style: none;
    
}
aside#experience{
    background: white;
    color: black;
}