@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }body{
     font-family: 'Nunito', sans-serif;
     padding: 0;
     margin: 0;
} 
main{
    color: black;
    text-align: center;
    background: white ;
    border-radius: 20px;
    top: -100px;
    position: relative;
}
button
{
    background: linear-gradient(to right, rgba(140,220,146,1) 0%, rgba(117,211,154,1) 22%, rgba(78,199,169,1) 49%, rgba(78,199,169,1) 100%);
    border-radius: 50px;
    border-color: #4EC7A9;
    color: white; 
    padding: 10px 35px;
    font-weight: bold;
}
div{
    display: inline-block;
}
div#encabezado{
    background: linear-gradient(to bottom left, rgba(140,220,146,1) 0%, rgba(117,211,154,1) 36%, rgba(78,199,169,1) 71%, rgba(78,199,169,1) 100%);
    border-radius: 25px;
    height: 200px;
    padding: 1em;
    width: 100%;
}
h4.indonesia{
    color: gray;
}
img{
    border-radius: 70px;
}
li#uno{
    list-style: none;
    display: inline-block;
}
li#dos{
    list-style: none;   
}
li#uno img, li#dos img{
    width: 65px;
    margin: 20px;
}
li#uno img, div, li#dos img, div{
    vertical-align: middle;
}
aside#experience{
    background: white;
    color: black;
}
p.gris{
    color: gray;
}